### Handing Imbalanced dataset

In [26]:
import pandas as pd
import numpy as np

In [27]:
# Set the random seed for reproducibility
np.random.seed(123)

total_lenth=10
ratio_0_to_one=.85
zero_sample_lenth=int(total_lenth*ratio_0_to_one)
one_sample_lenth=total_lenth-zero_sample_lenth

In [28]:
zero_sample_lenth,one_sample_lenth

(8, 2)

In [29]:
zerodata=pd.DataFrame({
	"factor1":np.random.normal(loc=0,scale=1,size=zero_sample_lenth),
	"factor2":np.random.normal(loc=0,scale=1,size=zero_sample_lenth),
	"value":[0]*zero_sample_lenth
})
onedata=pd.DataFrame({
	"factor1":np.random.normal(loc=0,scale=1,size=zero_sample_lenth),
	"factor2":np.random.normal(loc=0,scale=1,size=zero_sample_lenth),
	"value":[1]*zero_sample_lenth
})

In [30]:
zerodata.head(),onedata.tail()

(    factor1   factor2  value
 0 -1.085631  1.265936      0
 1  0.997345 -0.866740      0
 2  0.282978 -0.678886      0
 3 -1.506295 -0.094709      0
 4 -0.578600  1.491390      0,
     factor1   factor2  value
 3  0.386186 -1.428681      1
 4  0.737369 -0.140069      1
 5  1.490732 -0.861755      1
 6 -0.935834 -0.255619      1
 7  1.175829 -2.798589      1)

In [42]:
df=pd.concat([zerodata,onedata]).reset_index(drop=True)

In [44]:
df.tail()

     factor1   factor2  value
11  0.386186 -1.428681      1
12  0.737369 -0.140069      1
13  1.490732 -0.861755      1
14 -0.935834 -0.255619      1
15  1.175829 -2.798589      1

In [47]:
df_mejority=df[df["value"]==0]
df_minority=df[df["value"]==1]

### UpSampling

In [50]:
from sklearn.utils import  resample
df_upsampled=resample(df_minority,replace=True,
			n_samples=len(df_mejority),
			random_state=42
			)

In [51]:
df_upsampled.shape

(8, 3)

### DownSampling

In [53]:
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1] * n_class_1
})

df = pd.concat([class_0, class_1]).reset_index(drop=True)

print(df['target'].value_counts())

target
0    900
1    100
Name: count, dtype: int64

In [54]:
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [55]:
df_majority_upsampled=resample(df_minority,replace=True, #Sample With replacement
         n_samples=len(df_majority),
         random_state=42
        )

In [56]:
df_majority_upsampled

     feature_1  feature_2  target
951   3.697865   3.736982       1
992   2.526070   3.191316       1
914   1.918566   1.883029       1
971   2.155998   1.637726       1
960   2.000977   1.814833       1
..         ...        ...     ...
952   1.492063   1.540450       1
965   1.621476   1.877267       1
976   2.005906   2.102862       1
942   1.866832   2.723282       1
974   1.713615   1.982425       1

[900 rows x 3 columns]