### Data Cleaning

In [778]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [779]:
df1=pd.read_csv("Bejaia Region ForestFire Dataset.csv")
df1["Region"]=0
df2=pd.read_csv("Sidi-Bel Abbes Region ForestFire Dataset.csv")
df2["Region"]=1
df=pd.concat([df1,df2]).reset_index(drop=True)
df.to_csv("Algerian_forest_fires_dataset_UPDATE.csv",index=False)  ## use index=False so that index will not save
df

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes,Region
0,1,6,2012,29,57,18,0.0,65.7,3.4,7.6,1.3,3.4,0.5,not fire,0
1,2,6,2012,29,61,13,1.3,64.4,4.1,7.6,1.0,3.9,0.4,not fire,0
2,3,6,2012,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,not fire,0
3,4,6,2012,25,89,13,2.5,28.6,1.3,6.9,0.0,1.7,0.0,not fire,0
4,5,6,2012,27,77,16,0.0,64.8,3.0,14.2,1.2,3.9,0.5,not fire,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239,26,9,2012,30,65,14,0.0,85.4,16.0,44.5,4.5,16.9,6.5,fire,1
240,27,9,2012,28,87,15,4.4,41.1,6.5,8,0.1,6.2,0,not fire,1
241,28,9,2012,27,87,29,0.5,45.9,3.5,7.9,0.4,3.4,0.2,not fire,1
242,29,9,2012,24,54,18,0.1,79.7,4.3,15.2,1.7,5.1,0.7,not fire,1
243,30,9,2012,24,64,15,0.2,67.3,3.8,16.5,1.2,4.8,0.5,not fire,1

In [780]:
df.shape

(244, 15)

In [781]:
# duplicated
df.duplicated().sum()

0

In [782]:
df.isnull().sum()

day            0
month          0
year           0
Temperature    0
 RH            0
 Ws            0
Rain           0
FFMC           0
DMC            0
DC             0
ISI            0
BUI            0
FWI            0
Classes        1
Region         0
dtype: int64

In [783]:
df.columns=df.columns.str.strip()

In [784]:
# remove the null
df.dropna().reset_index(drop=True)

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes,Region
0,1,6,2012,29,57,18,0.0,65.7,3.4,7.6,1.3,3.4,0.5,not fire,0
1,2,6,2012,29,61,13,1.3,64.4,4.1,7.6,1.0,3.9,0.4,not fire,0
2,3,6,2012,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,not fire,0
3,4,6,2012,25,89,13,2.5,28.6,1.3,6.9,0.0,1.7,0.0,not fire,0
4,5,6,2012,27,77,16,0.0,64.8,3.0,14.2,1.2,3.9,0.5,not fire,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238,26,9,2012,30,65,14,0.0,85.4,16.0,44.5,4.5,16.9,6.5,fire,1
239,27,9,2012,28,87,15,4.4,41.1,6.5,8,0.1,6.2,0,not fire,1
240,28,9,2012,27,87,29,0.5,45.9,3.5,7.9,0.4,3.4,0.2,not fire,1
241,29,9,2012,24,54,18,0.1,79.7,4.3,15.2,1.7,5.1,0.7,not fire,1
242,30,9,2012,24,64,15,0.2,67.3,3.8,16.5,1.2,4.8,0.5,not fire,1

In [785]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   day          244 non-null    int64
 1   month        244 non-null    int64
 2   year         244 non-null    int64
 3   Temperature  244 non-null    int64
 4   RH           244 non-null    int64
 5   Ws           244 non-null    int64
 6   Rain         244 non-null    float64
 7   FFMC         244 non-null    float64
 8   DMC          244 non-null    float64
 9   DC           244 non-null    object
 10  ISI          244 non-null    float64
 11  BUI          244 non-null    float64
 12  FWI          244 non-null    object
 13  Classes      243 non-null    object
 14  Region       244 non-null    int64
dtypes: float64(5), int64(7), object(3)
memory usage: 28.7+ KB

In [786]:
def to_float(s):
	s=str(s)
	s=s.strip()
	ans=""
	for ele in s:
		if((ele>='0' and ele<='9') or (ele=='.')): ans+=ele
		else: break

	if(len(ans)): return float(ans)
	return 0

df["DC"]=df["DC"].apply(to_float)
df["DC"].unique()

array([  7.6,   7.1,   6.9,  14.2,  22.2,  30.5,  38.3,  38.8,  46.3,
        54.3,  61.4,  17. ,   7.8,   7.4,   8. ,  16. ,  27.1,  31.6,
        39.5,  47.7,  55.8,  63.8,  71.8,  80.3,  88.5,  84.4,  92.8,
         8.6,   8.3,   9.2,  18.5,  27.9,  37. ,  40.4,  49.8,   9.3,
        18.7,  27.7,  37.2,  22.9,  25.5,  34.1,  43.1,  52.8,  62.1,
        71.5,  79.9,  71.3,  79.7,  88.7,  98.6, 108.5, 117.8, 127. ,
       136. , 145.7,  10.2,  10. ,  19.8,  29.7,  39.1,  48.6,  47. ,
        57. ,  67. ,  77. ,  75.1,  85.1,  94.7,  92.5,  90.4, 100.7,
       110.9, 120.9, 130.6, 141.1, 151.3, 161.5, 171.3, 181.3, 190.6,
       200.2, 210.4, 220.4, 180.4,   8.7,   7.5,   7. ,  15.7,  24. ,
        32.2,  30.1,   8.4,   8.9,  16.6,   7.3,  24.3,  33.1,  41.3,
        49.3,  57.9,  41.4,  30.4,  15.2,   7.7,  16.3,  24.9,   8.8,
         8.2,  15.4,  17.6,  26.3,  28.9,  14.7,  22.5,  37.8,  18.4,
        25.6,  34.5,  43.3,  52.4,  36.7,   8.5,  17.8,  27.3,  36.8,
        46.4,  45.1,  35.4,   9.7,   9.9,   9.5,  19.4,  10.4,  14.6,
        24.1,  42.3,  51.6,  61.1,  71. ,  80.6,  90.1,  99. ,  56.6,
        15.9,  19.7,  28.3,  37.6,  47.2,  57.1,  67.2,  10.5,  21.4,
        32.1,  42.7,  52.5,   9.1,   9.8,  20.2,  30.9,  41.5,  55.5,
        54.2,  65.1,  76.4,  86.8,  96.8, 107. , 117.1, 127.5, 137.7,
       147.7, 157.5, 167.2, 177.3, 166. , 149.2, 159.1, 168.2,  26.6,
        17.7,  26.1,  25.2,  33.4,  50.2,  59.2,  63.3,  77.8,  86. ,
        88. ,  97.3, 106.3, 115.6,  28.1,  36.1,  44.5,   7.9,  16.5])

In [787]:
df.head()

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes,Region
0,1,6,2012,29,57,18,0.0,65.7,3.4,7.6,1.3,3.4,0.5,not fire,0
1,2,6,2012,29,61,13,1.3,64.4,4.1,7.6,1.0,3.9,0.4,not fire,0
2,3,6,2012,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,not fire,0
3,4,6,2012,25,89,13,2.5,28.6,1.3,6.9,0.0,1.7,0.0,not fire,0
4,5,6,2012,27,77,16,0.0,64.8,3.0,14.2,1.2,3.9,0.5,not fire,0

In [788]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   day          244 non-null    int64
 1   month        244 non-null    int64
 2   year         244 non-null    int64
 3   Temperature  244 non-null    int64
 4   RH           244 non-null    int64
 5   Ws           244 non-null    int64
 6   Rain         244 non-null    float64
 7   FFMC         244 non-null    float64
 8   DMC          244 non-null    float64
 9   DC           244 non-null    float64
 10  ISI          244 non-null    float64
 11  BUI          244 non-null    float64
 12  FWI          244 non-null    object
 13  Classes      243 non-null    object
 14  Region       244 non-null    int64
dtypes: float64(6), int64(7), object(2)
memory usage: 28.7+ KB

In [789]:
df.head()

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes,Region
0,1,6,2012,29,57,18,0.0,65.7,3.4,7.6,1.3,3.4,0.5,not fire,0
1,2,6,2012,29,61,13,1.3,64.4,4.1,7.6,1.0,3.9,0.4,not fire,0
2,3,6,2012,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,not fire,0
3,4,6,2012,25,89,13,2.5,28.6,1.3,6.9,0.0,1.7,0.0,not fire,0
4,5,6,2012,27,77,16,0.0,64.8,3.0,14.2,1.2,3.9,0.5,not fire,0

In [790]:
df["FWI"].unique()

array([0.5, 0.4, 0.1, 0.0, 2.5, 7.2, 7.1, 0.3, 0.9, 5.6, 0.2, 1.4, 2.2,
       2.3, 3.8, 7.5, 8.4, 10.6, 15.0, 13.9, 3.9, 12.9, 1.7, 4.9, 6.8,
       3.2, 8.0, 0.6, 3.4, 0.8, 3.6, 6.0, 10.9, 4.0, 8.8, 2.8, 2.1, 1.3,
       7.3, 15.3, 11.3, 11.9, 10.7, 15.7, 6.1, 2.6, 9.9, 11.6, 12.1, 4.2,
       10.2, 6.3, 14.6, 16.1, 17.2, 16.8, 18.4, 20.4, 22.3, 20.9, 20.3,
       13.7, 13.2, 19.9, 30.2, 5.9, 7.7, 9.7, 8.3, 0.7, 4.1, '0.2', '0.1',
       '1', '0.9', '3.1', '6', '0.8', '1.9', '10', '16.7', '12.9', '0.3',
       '0.6', '0.4', '4.9', '1.2', '5.3', '6.7', '9.5', '12', '18.4',
       '7.2', '2.2', '0.5', '6.4', '5.2', '9.9', '15', '6.3', '3', '1.3',
       '9.6', '4.7', 'fire   ', '14.1', '7.3', '7.7', '9.1', '13', '17.3',
       '30', '25.4', '16.3', '2.5', '0.7', '3.2', '9', '10.9', '13.2',
       '14.5', '13.5', '19.5', '20.9', '12.6', '5.9', '12.7', '10.7',
       '21.6', '18.8', '10.5', '15.7', '5.5', '14.8', '24', '26.3',
       '12.2', '18.1', '24.5', '26.9', '31.1', '30.3', '26.1', '6.1',
       '16', '19.4', '0', '2.7', '3.7', '3.9', '10.3', '5.7', '9.8',
       '19.3', '17.5', '15.4', '5.6', '3.8', '13.7', '15.2', '6.5'],
      dtype=object)

In [791]:
df["FWI"]=df["FWI"].apply(to_float)

In [792]:
df.head()

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes,Region
0,1,6,2012,29,57,18,0.0,65.7,3.4,7.6,1.3,3.4,0.5,not fire,0
1,2,6,2012,29,61,13,1.3,64.4,4.1,7.6,1.0,3.9,0.4,not fire,0
2,3,6,2012,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,not fire,0
3,4,6,2012,25,89,13,2.5,28.6,1.3,6.9,0.0,1.7,0.0,not fire,0
4,5,6,2012,27,77,16,0.0,64.8,3.0,14.2,1.2,3.9,0.5,not fire,0

In [793]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   day          244 non-null    int64
 1   month        244 non-null    int64
 2   year         244 non-null    int64
 3   Temperature  244 non-null    int64
 4   RH           244 non-null    int64
 5   Ws           244 non-null    int64
 6   Rain         244 non-null    float64
 7   FFMC         244 non-null    float64
 8   DMC          244 non-null    float64
 9   DC           244 non-null    float64
 10  ISI          244 non-null    float64
 11  BUI          244 non-null    float64
 12  FWI          244 non-null    float64
 13  Classes      243 non-null    object
 14  Region       244 non-null    int64
dtypes: float64(7), int64(7), object(1)
memory usage: 28.7+ KB

In [794]:
df.to_csv("Algerian_forest_fires_dataset_Cleaned.csv",index=False)

In [795]:
df=pd.read_csv("Algerian_forest_fires_dataset_Cleaned.csv")

In [796]:
d

NameError: name 'd' is not defined

## EDA

In [ ]:
# convert the Classes
df["Classes"]=df["Classes"].str.strip()
df["Classes"].unique()

In [ ]:
df["Classes"]=df["Classes"].map({"not fire":0,"fire":1}).astype(int)

In [ ]:
df.info()

In [ ]:
unique_values=df["Classes"].value_counts()
plt.pie(unique_values,autopct="%1.1f",labels=unique_values.index)

In [ ]:
df.corr()

In [ ]:
plt.Figure(figsize=(18,11))
sns.heatmap(df.corr())

In [ ]:
# month by fire for Bejaia region
df_for_Bejaia=df[df["Classes"]==0]
sns.countplot(data=df_for_Bejaia,x='month',hue="Region")
plt.xlabel("Months")
plt.ylabel("Count of fires")
plt.title("Bejaia FRegion Fire data")

In [ ]:
# month by fire for Sidi_bel region
df_for_Sidi_bel=df[df["Classes"]==1]
sns.countplot(data=df_for_Sidi_bel,x='month',hue="Region")
plt.xlabel("Months")
plt.ylabel("Count of fires")
plt.title("Sidi Bel FRegion Fire data")